/* James Faber, Hector Castellanos, Daniel Garcia */

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: aliceblue;
    padding: 0px;
    margin: 0px;
    animation: transitionIn 2s;
    position: relative;
    font-family: cursive;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotate(0);
    }
}


/* Login  and sign up Page Designs */

.LoginInfo {
    background-image: url(./images/MathBackgroundTwo.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.loginPage {
    background-color: rgb(255, 181, 181);
    margin: auto;
    width: 300px;
    height: 500px;
    padding: 10px;
    text-align: center;
    margin-top: 150px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(92, 90, 90);
}

.textbox {
    border-radius: 30px;
    width: 200px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
}

#textbox:hover {
    background-color: #9ff4ff;
}

#textbox:active {
    background-color: #9ff4ff;
    transform: translateY(1px);
}

#loginButton {
    border-radius: 30px;
    width: 200px;
    height: 40px;
    background-color: rgb(149, 241, 248);
    margin-top: 20px;
}

#loginButton:hover {
    background-color: #26b4be;
}

#loginButton:active {
    background-color: #26b4be;
    transform: translateY(1px);
}

#SignupButton {
    border-radius: 30px;
    width: 200px;
    height: 40px;
    background-color: rgb(253, 255, 136);
    margin-top: 20px;
}

#SignupButton:hover {
    background-color: #d3e012;
}

#SignupButton:active {
    background-color: #d3e012;
    transform: translateY(1px);
}


/* Welcome Page for Solver */

.LevelBar {
    background-color: rgba(200, 200, 206, 0.452);
    width: 200px;
    border: solid;
    border-radius: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 10px rgb(92, 90, 90);
    margin-left: 10px;
    margin-top: 10px;
}

.userPic {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
}

.userPic img {
    border-radius: 100%;
}

.WelcomeInfo {
    background-image: url(./images/MathBackgroundThree.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 120% 120%;
}

span {
    margin-left: 10px;
}

.WelcomePage {
    margin: auto;
    margin-top: -10%;
    width: 300px;
    height: 80%;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}

#chatBox {
    /* float: right; */
    padding: 0px;
    margin: 0px;
    width: 5%;
    height: 15%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    left: 1298px;
    top: 300px;
}

.rightside {
    border: 1px solid black;
}

.tchatbox {
    background-color: #EFEFEF;
    position: absolute;
    height: 90vh;
    top: -10;
    right: 0;
    width: 200px;
    display: none;
    border: 1px solid black;
}

.ttextarea {
    background-color: white;
    width: 90%;
    height: 80%;
    border: 1px solid black;
    margin-top: 10%;
    margin-left: 5%;
}

.tinputarea {
    height: 8%;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    /* background-color: black; */
}

.tinputarea>input {
    width: 80%;
    padding-top: -5%;
}

#sendbutton {
    color: white;
    padding-top: 5%;
    padding-left: 5px;
    text-shadow: 0 0 3px #000;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 20px;
}


/* Ranking PAge and History page */

.SolverTable {
    margin: auto;
    margin-top: -50;
    width: 500px;
    padding: 20px;
    text-align: center;
}

.SolverTable table {
    width: 500px;
    margin: auto;
    border: solid;
}

.SolverTable table th {
    text-align: left;
}

.SolverTable table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.SolverTable th,
td {
    padding: 10px;
}

.SolverTable tr:nth-child(odd) {
    background-color: cadetblue;
}

.design {
    border: 1px solid black;
    height: 10%;
    width: 70%;
    margin-top: 2%;
    padding-left: 10px;
    border-radius: 30px;
    margin-left: 15%;
}


/* Select Topic Page */

.solverCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    margin: auto;
}

.card {
    background-color: antiquewhite;
    width: 250px;
    margin: auto;
    float: left;
    margin: 20px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 25px;
    border: 1px solid black;
}

.card:hover {
    animation: effect 1s;
}

@keyframes effect {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.card img {
    border-radius: 25px;
}

.cardInfo {
    text-align: center;
}


/* ---------------Quiz Page------------------- */

.Quiztime {
    background-color: honeydew;
    width: fit-content;
    float: right;
    margin: 0%;
    padding: 0%;
}

.QuizBackground {
    background-color: rgba(194, 192, 192, 0.767);
    padding: 10px;
    margin: 10px;
    width: 500px;
    margin: auto;
}

.QuizQuestions {
    background-color: honeydew;
    padding: px;
    margin: 30px 0 20px 0;
    padding: 0 0 20px;
    text-align: center;
}

.QuizQuestions button {
    margin: 10px;
    border-radius: 25px;
    width: 70px;
}

.QuizQuestions h3 {
    background-color: rgb(190, 190, 190);
    width: fit-content;
}

#finishButton {
    width: 450px;
    border-radius: 50px;
    height: 50px;
    margin-left: 25px;
    background-color: rgb(17, 175, 51);
}

.resultQuestions {
    border: 1px solid black;
    width: 900px;
    margin: 20px auto;
    background-color: honeydew;
    padding: 0 0 10px 20px;
}

.resultQuestions button {
    border-radius: 25px;
    width: 70px;
}

.wrong {
    border: 3px Solid red;
}

.correct {
    border: 5px Solid rgb(45, 245, 45);
}

.tchat {
    /* background-color: red; */
    position: absolute;
    top: 45%;
    right: 0;
    /* transform: translate(-50% -50%); */
}

.tchat>p {
    position: absolute;
    top: 10%;
    right: 50%;
}

#messagefont {
    font-size: 5rem;
    color: white;
    text-shadow: 0 0 3px #000;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


/* Alert  */

#customAlert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(202, 198, 192, 0.75);
}

#box {
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 440px;
    height: 150px;
    width: 500px;
    text-align: center;
    box-shadow: 2px 2px 8px black;
    background-color: blanchedalmond;
}

.heading {
    background-color: cadetblue;
    color: white;
    font-size: larger;
    padding: 5px;
}

.content {
    margin-top: 30px;
}

#confirmBtn {
    height: 25px;
    width: 80px;
    border-radius: 8px;
    background-color: rgb(212, 66, 29);
    color: azure;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 400px;
}

#confirmBtn1 {
    height: 25px;
    width: 80px;
    border-radius: 8px;
    background-color: cadetblue;
    color: azure;
    cursor: pointer;
    margin-top: -25px;
    margin-left: 200px;
}


/* Results Page */

.resultQuestions {
    border: 1px solid black;
    width: 900px;
    margin: 20px auto;
    background-color: honeydew;
    padding: 0 0 10px 20px;
}

.resultQuestions button {
    border-radius: 25px;
    width: 70px;
}


/* Media Queries */

@media screen and (max-width: 700px) {
    .loginPage {
        margin-top: 100px;
    }
    .WelcomeInfo {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100% 100%;
        width: fit-content;
    }
    .WelcomePage {
        width: 0px;
        margin: auto;
    }
    #chatBox {
        width: 50px;
        position: absolute;
        left: 370px;
        top: 300px;
    }
    .SolverTable {
        width: fit-content;
        margin-top: auto;
    }
    .SolverTable table {
        width: 300px;
        margin: auto;
    }
    .solverCards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: fit-content;
        margin: auto;
    }
    .QuizBackground {
        width: 300px;
        margin: 25px;
    }
    #finishButton {
        width: 200px;
        margin-left: 45px;
    }
    #box {
        margin-top: 100px;
        margin-left: 35px;
        width: 300px;
    }
    #confirmBtn {
        margin-top: 10px;
        margin-left: 20px;
    }
    #confirmBtn1 {
        margin-top: -25px;
        margin-left: 20px;
    }
    .resultQuestions {
        width: 300px;
        margin-left: 20px;
        background-color: honeydew;
        padding: 0 20px 10px 20px;
    }
}

@media screen and (max-width: 900px) {
    .loginPage {
        margin: auto;
        width: 450px;
        height: 555px;
        padding: 20px;
        margin-top: 50px;
    }
    .WelcomeInfo {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100% 100%;
        width: 500px;
    }
    .WelcomePage {
        height: 500px;
        margin: 100px 0 0 200px;
    }
    #chatBox {
        width: 50px;
        position: absolute;
        left: 720px;
        top: 300px;
    }
    .SolverTable {
        width: fit-content;
        margin-top: auto;
    }
    .SolverTable table {
        width: 600px;
        margin: auto;
    }
    .solverCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        margin: 20px 0 0 100px;
    }
    .QuizBackground {
        width: 700px;
        margin: 25px;
    }
    #finishButton {
        width: 200px;
        margin-left: 250px;
    }
    #box {
        margin-top: 100px;
        margin-left: 150px;
        width: 500px;
    }
    .resultQuestions {
        width: 700px;
        margin: 10px;
        background-color: honeydew;
        padding: 0 20px 10px 20px;
    }
}

#quizbutton {
    color: white;
    background-color: #72B7F2;
    border: none;
}

#quizbutton:hover,
#leaderboardbutton:hover,
#historybutton:hover,
#logoutButton:hover {
    -webkit-box-shadow: -10px 6px 0px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 6px 0px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 6px 0px -2px rgba(0, 0, 0, 0.75);
}

#leaderboardbutton {
    border: none;
    background-color: #A3E5C4;
    color: rgb(125, 121, 121);
}

#historybutton {
    border: none;
    background-color: #C76706;
    color: white;
}

#logoutbutton {
    background-color: red;
    color: white;
    border: none;
}

.WelcomePage>h1 {
    font-size: 5rem;
}

#backwbutton {
    font-size: 5rem;
    font-weight: bolder;
    color: #FF0000;
}

#heading {
    font-size: 5rem;
}

#heading2 {
    font-size: 4rem;
    margin-top: 10%;
}

.hello {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

#rankingtable table {
    border: none;
}

#finishreview {
    width: 450px;
    border-radius: 50px;
    height: 50px;
    margin-left: 25px;
    background-color: rgb(17, 175, 51);
}

.buttondiv {
    width: 40%;
    margin: auto;
}