/* James Faber, Hector Castellanos, Daniel Garcia */

body {
    background-color: aliceblue;
    padding: 0px;
    margin: 0px;
    animation: transitionIn 2s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotate(0);
    }
}


/* Login  and sign up Page Designs */

.LoginInfo {
    background-image: url(./images/MathBackgroundTwo.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.loginPage {
    background-color: rgb(255, 181, 181);
    margin: auto;
    width: 300px;
    height: 455px;
    padding: 10px;
    text-align: center;
    margin-top: 150px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(92, 90, 90);
}

.textbox {
    border-radius: 30px;
    width: 200px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
}

#loginButton {
    border-radius: 30px;
    width: 200px;
    height: 40px;
    background-color: rgb(149, 241, 248);
    margin-top: 20px;
}

#SignupButton {
    border-radius: 30px;
    width: 200px;
    height: 40px;
    background-color: rgb(253, 255, 136);
    margin-top: 20px;
}


/* Welcome Page for Solver */

.LevelBar {
    background-color: rgba(200, 200, 206, 0.452);
    width: 200px;
    border: solid;
    border-radius: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 10px rgb(92, 90, 90);
    margin-left: 10px;
    margin-top: 10px;
}

.userPic {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
}

.userPic img {
    border-radius: 100%;
}

.WelcomeInfo {
    background-image: url(./images/MathBackgroundThree.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 120% 120%;
}

.WelcomePage {
    margin: auto;
    width: 300px;
    height: 350px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}

#chatBox {
    /* float: right; */
    padding: 0px;
    margin: 0px;
    width: 5%;
    height: 15%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    left: 1298px;
    top: 300px;
}


/* Ranking PAge and History page */

.SolverTable {
    margin: auto;
    margin-top: -50;
    width: 500px;
    padding: 20px;
    text-align: center;
}

.SolverTable table {
    width: 400px;
    margin: auto;
    border: solid;
}

.SolverTable table th {
    text-align: left;
}

.SolverTable table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.SolverTable th,
td {
    padding: 10px;
}

.SolverTable tr:nth-child(odd) {
    background-color: cadetblue;
}


/* Select Topic Page */

.card {
    background-color: antiquewhite;
    width: 250px;
    margin: auto;
    float: left;
    margin: 20px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 25px;
    border: 1px solid black;
    /* display: grid; 
     grid-template-columns: 20% 20% 20% 20%; */
}

.card img {
    border-radius: 25px;
}

.cardInfo {
    text-align: center;
}


/* ---------------Quiz Page------------------- */

.Quiztime {
    background-color: honeydew;
    width: fit-content;
    float: right;
    margin: 0%;
    padding: 0%;
}

.QuizBackground {
    background-color: rgba(194, 192, 192, 0.767);
    padding: 10px;
    margin: 10px;
    width: 500px;
    margin: auto;
}

.QuizQuestions {
    background-color: honeydew;
    padding: px;
    margin: 30px 0 20px 0;
    padding: 0 0 20px;
    text-align: center;
}

.QuizQuestions button {
    margin: 10px;
    border-radius: 25px;
    width: 70px;
}

.QuizQuestions h3 {
    background-color: rgb(190, 190, 190);
    width: fit-content;
}

#finishButton {
    width: 450px;
    border-radius: 50px;
    height: 50px;
    margin-left: 25px;
    background-color: rgb(17, 175, 51);
}

.resultQuestions {
    border: 1px solid black;
    width: 900px;
    margin: 20px auto;
    background-color: honeydew;
    padding: 0 0 10px 20px;
}

.resultQuestions button {
    border-radius: 25px;
    width: 70px;
}

.wrong {
    border: 3px Solid red;
}

.correct {
    border: 5px Solid rgb(45, 245, 45);
}


/* .resultExplanation
{
    
}

.resultLink
{
}

.resultGrid
{
   
} */